 *{
    font-family: 'Roboto', sans-serif;
 }

   /* General */

 *{
    margin: 0;
    padding:0;
    box-sizing: border-box;
 }

 body{
    background-color: #f6f8f9;
 }

 .container{
    width: 75%;
    margin: 0 auto;

 }

 .backgraund-white{
    background-color: white;
 }

 .padding{
    padding-left: 30px;
 }

   /* header  */

 header{
    background-color: #ffffff;
    padding: 15px;
    margin-bottom: 50px;
 }

 h1{
    display: inline-block;
    vertical-align: middle;
 }

 #main-logo{
    vertical-align: middle;
 }


.cont-div{
    line-height: 30px;
    padding: 30px;
    padding-left: 20px ;
    padding-top: 10px ;
    padding-bottom: 10px ;

}
 .symbol{
    display: inline-block;
    border-radius: 50%;
    height: 30px;
    width: 30px;
   
 }

.check {
    border: 1px solid green;
    color: green;
    text-align: center;

}
 .cross{
    border: 1px solid red;
    color: red;
    text-align: center;
 }

 .box{
    display: inline-block;
    border-radius: 7%;
    padding:10px;
    
 }
 .margin-left{
    margin-left: 30px;
    margin-bottom: 2px ;
 }

 .box-blue{
    background-color: rgb(87, 189, 230);
    color: white;
 }

 .box-trasparent{
    background-color: rgba(0, 0, 0, 0.217);
    color: black;
 }

 .box-purple {
    background-color: purple;
    color: white;
 }

 .box-green{
    background-color: green;
    color: white;
 }

 .box-orange{
    background-color: orange;
    color: white;
}

section{
    margin-top: 20px;
    
}